<ion-view view-title="Alert">
   <ion-header-bar class="bar-dark">
        <h1 class="title">Emergency Call</h1>
      </ion-header-bar> 
      <ion-content>
   <div style="padding:8px 73px;"><br><a style="border: 2px solid black;" href="tel:999" class="button button-stable"><img style="width:100%;" src="img/police.png"></a></div>
   <div style="padding:8px 78px;">
    <a style="border: 2px solid black;" href="tel:995" class="button button-stable"><img style="width:100%;" src="img/ambulance.png"></a></div>
     </ion-content>
</ion-view>
